.types {
    &__title {
        margin-bottom: 12px;
    }
    &__list {
        color: $decoration-color;
        margin-bottom: 25px;
    }
    &__item {
        margin-bottom: 10px;
        padding-left: 10px;
    }
    &__item-text {
        color: $text-color-main;
    }
    &__text-wrapper {
        margin-bottom: 20px;
    }
    &__img-wrapper {
        max-width: 600px;
        margin: 0 auto;
    }

}
